@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
* {margin: 0; padding: 0; outline: 0;}

html{
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Open Sans', Arial, Calibri;
	font-weight: 300;
	padding: 0;
	margin: 0;
	background-color: #252427;
	font-size: 16px;
}

a:hover, a:link{
	text-decoration: none;
}

h1{
	font-weight: bold;
	line-height: 50px;
}

h2{
	font-weight: bold;
	line-height: 40px;
}

li{
	line-height: 20px;
}

.section{
	text-align: center;
	padding-top: 3em;
	overflow: hidden;
	width: 100%;
	clear: both;
}

.section p{
	opacity: 0;
}

.notice{
	opacity: 1;
	font-size: 1.25em;
	position: relative;
}

.titletext{
	font-size: 2em;
	opacity: 1;
}

.imageleft{
	position: relative;
	top: -300px;
	left: 32%;
	transition: top 0.3s;
}

.imagebottom{
	position: relative;
	top:500px;
}

.blocks{
	max-width: 95%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-radius: 15%;
	margin: 20px 40px;
}

.logoblock{
	display: inline-block;
	position: relative;	
}

.blocksnohover{
	max-width: 95%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-radius: 15%;
	margin: 20px 40px;
}

.blockimages{
	width: 400px;
	height: 250px;
	border-radius: 15%;
}

.blockimagesborder{
	width: 400px;
	height: 250px;
	border-radius: 15%;
	border: 1.5px solid black;
}

.blocks:hover{
	box-shadow: 8px 8px 8px 4px #888888;
}

.companylogo{
	width: 187.5px;
	height: 112.5px;
	border-radius: 20px;
	border: solid 1px black;
	margin-bottom: 10px;
}

.schedule{
	width: 75%;
	display: inline-block;
	transition: width 0.3s;
}

.table .center{
	text-align: center;
	color: black;
	font-size: 15px;
}

.table .bold{
	font-size: 12px;
	font-weight: bold;
}

.table .right{
	text-align: right;
}
	
.zero{
	position: relative;
	height: 400px;
	font-weight: 400;
	color: #FFF;
	vertical-align: center;
	padding-top: 2em;
	background-image: url('../image/cover (big).jpg');
	background-position: center; 
	background-size: 100%;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 2px #333333;
    box-shadow: inset 0 0 15px 5px #111;
    z-index: 1;
}

.zero a{
	text-decoration: none;
	color: #FFF;
}

.sub{
	position: relative;
	display: inline-block;
}

.preplistdiv{
	padding-left: 16%;
	padding-right: 2%;
}

.videodiv{
	padding-left: 10%;
	padding-right: 10%;
}

.ITFairText{
	font-size: 22px;
	font-weight: bold;
}

.ITFairImage{
		width: 200px;
}

.one{
	position: relative;
	z-index: 2;
	padding-top: 3em;
	padding-bottom: 3em;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 27%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(254,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(214,214,214,1) 100%); /*	Chrome10+,Safari5.1+ */
}

.button{
	background-color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 15px;
}

.helpvideo{
	width: 853px;
	height: 480px;
}
	
.two{
	color: #FAFAFA;
	position: relative;
	height: 550px;
	z-index: 1;
	background: rgb(64,150,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(64,150,238,1) 30%, rgba(44,95,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(64,150,238,1)), color-stop(100%,rgba(44,95,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(64,150,238,1) 30%,rgba(44,95,165,1) 100%); /* Chrome10+,Safari5.1+ */
}

.companylist{
		font-size: 26px;
		font-weight: 300;
}

.societylogo{
	width: 233px;
	height: 77px;
	padding: 10px 10px 10px 10px;
}

.supportlogo{
	width: 150px;
	height: 150px;
	padding: 10px 10px 10px 10px;
}

.societylogo:hover, .supportlogo:hover{
	box-shadow: 8px 8px 8px 4px #888888;
	border-radius: 10px;
}

.footer{
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-color: #252427;
	color: #FFF;
	text-align: center;
}

.footerlogo{
	padding-top: 0.75em;
}

.fbbutton {
	margin: 0 auto 0 auto;
	color: #FFF;
	background-color: #2257AD;
	background: -moz-linear-gradient(top, rgba(102,156,214,1) 0%, rgba(36,87,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,156,214,1)), color-stop(100%,rgba(36,87,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,156,214,1) 0%,rgba(36,87,150,1) 100%); /* Chrome10+,Safari5.1+ */
	border-radius: 5px;
	width: 3.3em;
	height: 3.3em;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.fbbutton a
{
	font-size: 2em;
	text-decoration: none;
	color: #FFF;
	display: block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#blockone{
	position: relative;
	z-index: 2;
	padding-top: 3em;
	padding-bottom: 3em;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 27%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(254,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(214,214,214,1) 100%); /*	Chrome10+,Safari5.1+ */
}

#blockone h1{
	font-size: 65px;
}

#blockone h2{
	font-size: 40px;
}

#blocktwo{
	text-align: center;
	color: white;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;
	width: 100%;
	clear: both;
	position: relative;
	z-index: 2;
	background: rgb(64,150,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(64,150,238,1) 30%, rgba(44,95,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(64,150,238,1)), color-stop(100%,rgba(44,95,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(64,150,238,1) 30%,rgba(44,95,165,1) 100%); /* Chrome10+,Safari5.1+ */
}

#blockthree h2, #blocktwo h2{
	font-size: 22px;
}

#bigblock{
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;
	width: 100%;
	clear: both;
	position: relative;
	z-index: 2;
	background: rgb(64,150,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(64,150,238,1) 30%, rgba(44,95,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(64,150,238,1)), color-stop(100%,rgba(44,95,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(64,150,238,1) 30%,rgba(44,95,165,1) 100%); /* Chrome10+,Safari5.1+ */
}

#bigblock h1, #blocktwo h1, #blockthree h1{
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
}

#bigblock ol{
	text-align: left;
	color: white;
	font-size: 22px;
}

#blockthree{
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;
	color: black;
	width: 100%;
	clear: both;
	position: relative;
	z-index: 2;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 27%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(27%,rgba(254,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 27%,rgba(214,214,214,1) 100%); /*	Chrome10+,Safari5.1+ */
}

#blockthree ul{
	text-align: left;
	font-size: 22px;
	list-style-type: none;
}

#blockthree ol{
	text-align: left;
	font-size: 22px;
}

@media screen and (max-width: 1465px){ 
	.blocks, .blocksnohover{
		margin: 20px 20px;
	}
}

@media screen and (max-width: 1080px){
	.helpvideo{
		width: 750px;
	}
	
	.companylist{
		font-size: 20px;
	}
}

@media screen and (max-width: 905px){ 
	.blocks, .blocksnohover{
		margin: 20px 5px;
	}
	
	.helpvideo{
		width: 550px;
		height: 430px;
	}
}

@media screen and (max-width: 841px){ 
	.zero
	{
		background-size: 150%;
		background-image: url('../image/cover.jpg');
		padding-top: 0.6em;
		padding-bottom: 1em;
		height: 200px;
	}

	.zero .text{
		font-size: 14px;
		display: block;
		margin-top: 5px;
		position: relative;
		
		top: 0;
	}

	.imageleft, .imageright{
		top: -40%;
	}

	.section .image{
		width: 50%;
		height: 50%;
	}
	
	.schedule{
		width: 95%;
	}
	
	#blockone h1{
		font-size: 50px;
	}
	
	#blockone h2{
		font-size: 30px;
	}
}

@media screen and (max-width: 700px){ 
	.helpvideo{
		width: 98%;
		height: 320px;
	}
}

@media screen and (max-width: 500px){ 
	.imageleft, .imageright{
		top: -20%;
	}		
	
	.helpvideo{
		height: 250px;
	}
	
	.companylist{
		font-size: 17px;
		font-weight: 400;
	}
	
	.companylogo{
	width: 250px;
	height: 150px;
	}
}

@media screen and (max-width: 430px){
	.ITFairText{
		font-size: 15px;
	}
	
	.ITFairImage{
		width: 50%;
		height: 95px;
	}
	
	.image{
		content: url('../image/onebg.png');
	}
	
	.space{
		font-size: 11px;
	}
	
	.blockimages, .blockimagesborder{
		width: 270px;
		height: 200px;
	}
	
	.blocks, .blocksnohover{
		margin: 10px;
	}
	
	#discount{
		content: url('../image/discount.png');
		height: 55px;
	}
	
	#bidding{
		content: url('../image/bidding.png');
		height: 90px;
	}
	
	#leap{
		width: 50%;
		height: 70px;
	}
}